<section ng-controller="GoalsController" ng-init="findOne()">
  <div class="page-header">
    <h1>Edit Goal</h1>
  </div>
  <div class="col-md-12">
    <form name="goalForm" class="form-horizontal" ng-submit="update(goalForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label for="title">Title</label>
          <input name="title" type="text" ng-model="goal.title" id="title" class="form-control" placeholder="Title" required>
          <div ng-messages="goalForm.title.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Goal title is required.</p>
          </div>
        </div>
        <div class="form-group">
          <label for="timeInMinutes">Time in minutes</label>
          <input name="timeInMinutes" type="text" ng-model="goal.timeInMinutes" id="timeInMinutes" class="form-control" placeholder="Time in minutes" required>
          <div ng-messages="goalForm.timeInMinutes.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Goal time in minutes is required.</p>
          </div>
        </div>
        <div class="form-group">
          <input type="submit" value="Update" class="btn btn-default">
        </div>
        <div ng-show="error" class="text-danger">
          <strong ng-bind="error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
