<section ng-controller="GoalsController" ng-init="find()">
  <div class="page-header">
    <h1>Goals</h1>
  </div>
  <div class="list-group col-md-6">
    <div ng-repeat="goal in goals" class="list-group-item clearfix">
      <span class="list-group-item-text" ng-bind="goal.title"></span>
      <span class="list-group-item-text"> - </span> 
      <span class="list-group-item-text" ng-bind="goal.timeInMinutes"></span>
      <span class="list-group-item-text"> minutes</span>
      <div ng-show="authentication.user._id == goal.user._id" class="pull-right">
        <a class="btn btn-xs btn-success" ng-click="initProgress(goal)" ng-show="tracking == null">
            <i class="glyphicon glyphicon-play"></i>
        </a>
        <a class="btn btn-xs btn-warning" ng-click="stopProgress()" ng-show="tracking == goal">
            <i class="glyphicon glyphicon-pause"></i>
        </a>
        <a class="btn btn-xs btn-info" ui-sref="goals.edit({goalId: goal._id})" ng-show="tracking == null">
            <i class="glyphicon glyphicon-edit"></i>
        </a>
        <a class="btn btn-xs btn-warning" ng-click="remove(goal);" ng-show="tracking == null">
            <i class="glyphicon glyphicon-trash"></i>
        </a>
      </div>
      
      <progressbar animate="true" max="goal.timeInMinutes" value="goal.timeCompleted" 
        type="success" ng-show="tracking == goal">
      </progressbar>
    </div>
  </div>
  <div class="alert alert-warning text-center" ng-if="goals.$resolved && !goals.length">
    No goals yet, why don't you <a ui-sref="goals.create">create one</a>?
  </div>
</section>
